body {
    font-family: Arial, sans-serif;
    background: #FAFAFA;

    max-width: 900px;
    margin: 0 auto;
    padding: 20px;

    line-height: 1.6;
}

h1, h2 {
    color: #333;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 a {
    all: unset;
    color: #1a73e8;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

h2 a:hover {
    text-decoration: underline;
}

.diagram {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.center {
    text-align: center;
}

img, iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.video-container {
    margin: 20px 0;
    text-align: center;
}

pre {
    background: #EEE;
    padding: 10px;
    border-radius: 4px;

    width: fit-content;
    margin: 10px auto;
}
